<!-- principal.component.html -->
<!--link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"-->

<div class="page-container bg-primary" >
    <div class="container">

        <div class="header">🍕 API PIZZA 🍕</div>
        
        <div class="buttons-container">
            <a class="button" href="/pizzas">Pizzas</a>
            <a class="button" href="/ingredients">Ingredientes </a>
            <a class="button" href="/pizzas-ingredients">Pizzas - Ingredientes</a>
        </div>
    </div>

</div>
  