<!-- ingredients.component.html -->

<div class="container mt-3">
    <h2>Listado de Ingredients</h2>
    <button class="btn btn-success mb-3" (click)="mostrarFormulario()">Agregar Ingredient</button>

    <div *ngIf="mostrarForm" class="form-container">
        <h3>Agregar Nuevo Ingredient</h3>
        <form (submit)="agregarIngrediente()">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="ing_name" [(ngModel)]="nuevoIngrediente.ing_name" name="ing_name" required>
            </div>
            <div class="form-group">
                <label for="calorias">Calorías:</label>
                <input type="number" class="form-control" id="ing_calories" [(ngModel)]="nuevoIngrediente.ing_calories" name="ing_calories" required>
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select class="form-control" id="ing_state" [(ngModel)]="nuevoIngrediente.ing_state" name="ing_state">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 my-table">
        <!-- ID Column -->
        <ng-container matColumnDef="ing_id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let ingredient"> {{ingredient.ing_id}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="ing_name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let ingredient"> {{ingredient.ing_name}} </td>
        </ng-container>

        <!-- Calorías Column -->
        <ng-container matColumnDef="ing_calories">
            <th mat-header-cell *matHeaderCellDef> Calorías </th>
            <td mat-cell *matCellDef="let ingredient"> {{ingredient.ing_calories}} </td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="ing_state">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let ingredient"> {{ingredient.ing_state ? 'Activo' : 'Inactivo'}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let ingredient">
                <button mat-button class="btn btn-primary" (click)="startEdit(ingredient)">Editar</button>
                <button mat-button class="btn btn-danger" (click)="eliminarIngrediente(ingredient.ing_id)">Eliminar</button>
                
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <div *ngIf="mostrarFormularioo" class="form-container">
        <h3>Editar Ingrediente</h3>
        <form (submit)="guardarCambios()">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="ing_name" [(ngModel)]="ingredienteEditado.ing_name" name="ing_name" required>
            </div>
            <div class="form-group">
                <label for="calorias">Calorías:</label>
                <input type="number" class="form-control" id="ing_calories" [(ngModel)]="ingredienteEditado.ing_calories" name="ing_calories" required>
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select class="form-control" id="ing_state" [(ngModel)]="ingredienteEditado.ing_state" name="ing_state">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="cerrarFormularioEdicion()">Cerrar</button>
        </form>
    </div>
</div>



