<!-- home.component.html -->
<div class="container mt-3">
    <h2>Listado de Pizzas</h2>
    <button class="btn btn-success mb-3" (click)="mostrarFormulario()">Agregar Pizza</button>

    <div *ngIf="mostrarForm" class="form-container">
        <h3>{{ isEditing ? 'Editar Pizza' : 'Agregar Nueva Pizza' }}</h3>
        <form (ngSubmit)="isEditing ? editarPizza() : agregarPizza()">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevaPizza.piz_name" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="origen">Origen:</label>
                <input type="text" class="form-control" id="origen" [(ngModel)]="nuevaPizza.piz_origin" name="origen" required>
            </div>
            <!-- El menú desplegable del estado solo aparecerá en modo de edición -->
            <div class="form-group" *ngIf="isEditing">
                <label for="estado">Estado:</label>
                <select class="form-control" id="estado" [(ngModel)]="nuevaPizza.piz_state" name="estado" required>
                    <option [value]="true">Activo</option>
                    <option [value]="false">Inactivo</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">{{ isEditing ? 'Guardar Cambios' : 'Agregar' }}</button>
            <!-- Botón para cancelar la edición -->
            <button type="button" class="btn btn-secondary" *ngIf="isEditing" (click)="cancelarEdicion()">Cancelar</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Origen</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pizza of data">
                <td>{{ pizza.piz_id }}</td>
                <td>{{ pizza.piz_name }}</td>
                <td>{{ pizza.piz_origin }}</td>
                <td>{{ pizza.piz_state ? 'Activo' : 'Inactivo' }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" (click)="startEdit(pizza)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="eliminarPizza(pizza.piz_id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>